{% extends 'base.html' %}


{% block page_independent_content %}
	
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><strong><span style='font-size: 48px; font-family: "Times New Roman", serif; color: #055D7A;'>Assignment Details</span></strong></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><strong><span style='font-size: 20px; font-family: "Times New Roman", serif;'>Marks: 10</span></strong></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><br></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><br></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><br></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><span style='font-size:19px;font-family:"Times New Roman",serif;'>Make an authentication system on your own where</span><span style='font-size:19px;font-family:"Times New Roman",serif;'>:</span></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><span style='font-size:19px;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
	<ul style="list-style-type: square;">
		<li><span style='font-family:"Times New Roman",serif;font-size:19px;'>Add a bootstrap navbar where there will be Sign Up and Login for unauthenticated users and Profile and Logout for authenticated users</span><span style='font-family:"Times New Roman",serif;'>.</span></li>
		<li><span style='font-family:"Times New Roman",serif;font-size:19px;'>A user can create an account</span><span style='font-family:"Times New Roman",serif;font-size:19px;'>.</span></li>
		<li><span style='font-family:"Times New Roman",serif;font-size:19px;'>Can log in to his account and after login redirect the user to his/her profile and show the message &ldquo;Logged In Successfully&rdquo;</span><span style='font-family:"Times New Roman",serif;'>.</span></li>
		<li><span style='font-family:"Times New Roman",serif;font-size:19px;'>Can log out and after logout showed the message on the home page &ldquo;Logged Out Successfully&rdquo;</span><span style='font-family:"Times New Roman",serif;font-size:14.0pt;'>.</span></li>
		<li><span style='font-family:"Times New Roman",serif;font-size:19px;'>An authenticated user can only change his password with and without a previous password</span><span style='font-family:"Times New Roman",serif;font-size:14.0pt;'>.</span></li>
	</ul>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><span style='font-size:19px;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><span style='font-size:19px;font-family:"Times New Roman",serif;'>NB: At first try it by yourself without using the module code.</span></p>

{% endblock %}
