{% extends 'base.html' %}


{% block page_independent_content %}
	
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><strong><span style='font-size: 48px; font-family: "Times New Roman", serif; color: #055D7A;'>Submission Details</span></strong></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><strong><span style='font-size: 20px; font-family: "Times New Roman", serif;'>with GitHub link:</span></strong></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><br></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><br></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><br></p>
	<p style='margin: 0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><span style='font-size:19px;font-family:"Times New Roman",serif;'>URL: <a data-fr-linked="true" href="https://github.com/MZahidKamal/Module18p5_Week05_PracticeDay01_Authentication_and_Authorization">https://github.com/MZahidKamal/Module18p5_Week05_PracticeDay01_Authentication_and_Authorization</a></span></p>

{% endblock %}
